.date-range {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  width: 70%;

  &__date {
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #151515;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }
  &__info {
    margin: 4px auto;
  }
  &__submit {
    padding: 6px;
    outline: none;
    cursor: pointer;
    width: 100px;
    margin: 18px auto 10px auto;
  }
}
