.header {
  display: flex;
  margin: 10px 0;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}
.header-guest {
  justify-content: center;
}

@media (min-width: 768px) {
  .header {
    width: 70%;
  }
}
