.text {
  color: #fff;
  &--strava {
    color: var(--strava-orange);
  }
  &--medium {
    font-size: 1.3rem;
  }
  &--normal {
    font-size: 1rem;
  }
  &--sn {
    font-size: 0.85rem;
  }
  &--small {
    font-size: 0.7rem;
  }
  &--tiny {
    font-weight: 100;
  }
  &--center {
    text-align: center;
  }
  &--pulsing {
    @include animation(text-pulsing, 0.5s, ease-in-out, infinite);
  }
}

@keyframes text-pulsing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 420px) {
  .text {
    color: #fff;
    &--strava {
      color: var(--strava-orange);
    }
    &--medium {
      font-size: 1.3rem;
    }
    &--normal {
      font-size: 1rem;
    }
    &--sn {
      font-size: 0.85rem;
    }
    &--small {
      font-size: 1rem;
    }
    &--tiny {
      font-weight: 100;
    }
    &--center {
      text-align: center;
    }
    &--pulsing {
      @include animation(text-pulsing, 0.5s, ease-in-out, infinite);
    }
  }
}
