.user-profile {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: contain;
  }
  &__fullname {
    margin: 5px;
  }
}
