body {
  background: linear-gradient(180deg, #474747 0%, #242424 100%) no-repeat;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
}
